/*---------
Anuncio ampliado
---------*/
.clear{

    clear: both;
}

.no-margin{

    margin: 0;
}
.parte-izquierda-info {
    width: 60%;
    float: left;


}

.parte-derecha-info {
    width: 30%;
    float: left;
    margin-top: 50px;
    margin-left:30px;
}

.imagen-curso {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid black;
}


.valoraciones {
    margin: 90px 0px 40px 0px;
    clear: both;
   

}

.valoracion{

    border-bottom:1px solid black;
}

.valoracion:last-child{

    border: none;
}
.foto-mini{

    float: left;
    width: 20%;
    margin:20px 10px 0px 0px;
     clear: both;

    
}
.foto-val {
   
    
    clear: both;

}

.texto-val {
    float: left;
    width: 70%;
    
}
.stars-val{

width: 39%;

}
.mini-box-info{

    margin-top: 40px;
    clear: both;
}
.info-name{

      margin-left: 10px;
      float: left;
}
.sub-info-name{

    clear: both;
    padding-bottom: 20px;
}

.container-perfil{

    margin:20px 20px 0px 0px;
}
.texto-perfil{

    margin-left: 60px;
}
.titulos-apartados {
    margin-bottom: 20px;
}
.programa{

    clear: both;
    margin-top: 10px;
}



