.container-button{
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 50%;
}
.left{

    float: left;
}
.general-button{

    border: none;
    margin: 0 auto;
    width: 240px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;

}
.button-1{

    background-color:;
   

}
.button-2{
    background-color:#f15c22;
    
}

.button-3{
    background-color:white;
    border: 2px solid #f15c22;


}

.general-button:hover{

    background-color:#404041;
}
.button-1,
.button-2,
.button-3 a{

    font-size:18px;
    font-weight: bold;
    text-transform: uppercase;

}
.button-1,
.button-2 a{
    color:white;

}

.button-3 a{
    color:#f15c22;
}

.botonmail {
    background-color: #f15c22;
    border: 10px solid white;
    border-radius: 15px;
    margin-top: 36px;
    position: absolute;
    width: 65%;
    height: 13%;
    left:0;
    margin:36px auto;
    right:0;
    
}
.botonmail:hover{

    background-color:#404041;
}
.mailcursos{
    width: 40px;
    left: 24px;
    top:-4px;
    position: absolute;
   
}

.botonunete{

    background-color: white;
    width: 83px;
    height: 20px;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.botonunete a{
    color: #404041;
}
.botonunete:hover{
    background-color:#f15c22;

}





