
/*--------
Text inputs and text areas
--------*/

.container-popup{
    width: 100%;
    padding-top: 40px;
    margin: 0 auto;

}
.pform{

    padding-top: 20px;
    margin: 0px;
}


.cajaformulario{
    clear: both;
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    background: #404041;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    padding: .5rem; 
    width: 100%;
}

.pform input{
	height: 30px;
}
.pform textarea{
	height: 78px;

}
.mini-input{
	width: 20px;
}
/*----------
Checkboxes, selects
----------*/

.form-check{

	display:inline;
    padding-right: 10px;
    margin: 0;
}

select{

	background: #404041;

}


