
/*--------
Text inputs and text areas
--------*/

.pform{

    padding-top: 20px;
    margin: 0;
}


.caja-formulario{
    clear: both;
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    background: #E6E6E6;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    padding: .5rem;
    width: 50%;
    border: none; 
    color:#A0A0A0;
    margin-top:6px; 

    
}

.big-textarea{
	padding-bottom: 50px;

}
.mini-input{
	width: 20%;
    display: inline-block;
}
.caja-footer{

    float: left;
}
#input-footer{

    width: 180px;
    background: white;
    border: 1px solid black;
    height: 30px;


}
/*----------
Checkboxes, selects
----------*/

.form-check{

	display:inline-block;
    padding-right: 10px;
    margin: 0;
    clear: both;
}
.form-check span{

    color:#404041;
    margin-left: 3px;

}
.total-partes-dia{

    float: left;
    width: 30%;
 

}
.box-check{
     position: relative;
     background: url(../imagenes/box-dias.svg) no-repeat;
     background-size: contain;
     height: 120px;
    clear: both;
    margin-bottom: 10px;

}


/*---------

.mini-box-check{

    background-color: #404041;
    opacity: 0.5;
    position: relative;
}

.mini-box-check-2{

    background-color: #808284;
     opacity: 0.5;
     position: relative;

}
--------------*/
.cuadro-check-3{

    position: absolute;
    left: 150px;
   


}

.cuadro-check-2{

    position: absolute;
    left: 85px;
   

}

.cuadro-check-1{

    position: absolute;
    left: 20px;
   

}

.top-1{

    top:5px;
}

.top-2{

    top:30px;
}

.top-3{

    top:55px;
}

.top-4{

    top:80px;
}
select{

    height: 35px;
}




