
/*----------
header

header{
    padding: 10px 60px 40px 20px;
}

.img-logo {
    width: 15%;
}

.logo{
    width: 100%;
    float:left;
    padding-top: 10px;
}

.menu{
    text-align: center;
    line-height: rem(5px);
    float: right;
    padding: 0px;
    width: 72%;
    margin: 0 auto;
}

.menu ul li{
    list-style: none;
    float: left;
    padding: 25px 0;
}

.menu-izquierda {
    width: 70%;
    float: left;
    text-transform: uppercase;
}

.menu-derecha {
    float: right;
    margin: 0 auto;
}

.menu li a{
    padding: 30px 10px 30px 20px;
    color: #404041;
    text-align: center;
}

.menu a:hover{
    color:#f15c22;
}
---------*/


header{
        margin: 1.5rem 0 3rem 0;
        overflow: hidden;
}

.img-logo {
    width: 100%;
    margin-right: 4px;
}

@media screen and (max-width: 800px){
            .logo {
                min-width: 100px;
        }
    }

.logo{
    width: 13%;
    float:left;
}

.menu{
    text-align: center;
    line-height: rem(5px);
    float: right;
    
}

.menu ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
}

.menu-izquierda {
    float: left;
    margin-left: 10px;

}

.menu-derecha {
    float: right;
}
.menu li a{

    color: #404041;
}
.menu-izquierda li a{
    text-transform: uppercase;
}

.menu a:hover{
    color:#f15c22;
}

.buscar-top {
    display: inline;
   
}

/*----------
footer
---------*/

footer {
    background-color: #231F20;
    clear: both;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.pie{
    margin: 0 auto;
}

.mini-box-pie{
    float: left;
    width: 33%;
    margin: 0 auto;
    padding: 20px;
}

.icono-pie{
    width: 100%;
}

.red-social{
    float:left;
    padding: 0 10px 0 0;
}

.newsletter{
    margin: 0 auto;
    padding-top: 10px;
}
.caja-footer{

    float: left;
}
/*---------
grid

---------*/

.row {
  border: 2px solid  #DCDCDB;
    margin: 0 -10px;
  margin-bottom: 20px;
  max-width: 1280px;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="col-"] {
  float: left;
    padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-3{

    background-color: #DCDCDB;
    margin: 20px;
    float: left;
    width: 30%;


}

.col-9{

    background-color: #F0F0F0;
    float: left;
    width: 60%;

 
}

.col-4{

    background-color: white;
    border: 1px solid #DCDCDB;
  

}
@media screen and (max-width: 1280px){

.col-4{

    width: 29%;
    float: left;
    margin-left: 20px;

}

}

@media screen and (max-width: 650px){

.col-4{

    width: 50%;
    float: left;
    margin-left: 60px;


}

}
@media screen and (max-width: 320px){

.col-4{

    width: 100%;
    float: none;
    margin: 0;

}

}
