
/*----------
header
---------*/

header{
    padding: 10px 60px 40px 20px;
}

.img-logo {
    width: 15%;
}

.logo{
     /*---sale fuera del div contenedor (body) ----*/
    width: 100%;
    float:left;
    padding-top: 10px;
}

.menu{
    text-align: center;
    line-height: rem(5px);
    float: right;
    padding: 0px;
    width: 72%;
    margin: 0 auto;
}

.menu ul li{
    list-style: none;
    float: left;
    padding: 25px 0;
}

.menu-izquierda {
    width: 70%;
    float: left;
    text-transform: uppercase;
}

.menu-derecha {
    float: right;
    margin: 0 auto;
}

.menu li a{
    padding: 30px 10px 30px 20px;
    color: #404041;
    text-align: center;
}

.menu a:hover{
    color:#f15c22;
}

/*----------
footer
---------*/

footer {
    background-color: #231F20;
    clear: both;
    margin-top: 30px;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
}

.pie{

}

.mini-box-pie{
    float: left;
    padding: 50px 0 0 85px;
    margin: 0 auto;
}
.mini-box-pie span{

    color: white;
}
.icono-pie{
    width: 100%;
}

.red-social{
    float:left;
    width: 14%;
    padding: 0 10px 0 0;
}

.newsletter{
    width:100%;
    margin: 0 auto;
    padding-top: 20px;
}
.caja-footer{

    float: left;
}
#input-footer{

    width: 180px;
    background: white;
    border: 1px solid black;
    height: 20px;


}

.container-unete{
    margin-left: 20px;
    width: 10%;
    margin: 0 auto;

}
.button-unete{

    background-color: white;
    border:1px solid black;
    border-radius: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

.button-unete span{
    color: #404041;

}
.button-unete:hover{
    background-color:#f15c22;

}

