.masc{
    font-family:"Lato", sans-serif;
    position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    z-index:99999;
    opacity: 0;
    -webkit-transition:opacity 400ms ease-in;
    -moz-transition:opacity 400ms ease-in;
    transition:opacity 400ms ease-in;
    pointer-events:none;
}
.masc::before {
    background:rgba(0,0,0,0.8);
    content: '';
    display: block;
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

.masc:target{
    opacity:1;
    pointer-events:auto;

}

.movedown{
    margin:0 auto;
}
.masc:target .movedown{
    margin:15% auto;

}
.close{
    background: #f15c22;
    color:#FFF;
    line-height:25px;
    position:absolute;
    right:1px;
    text-align:center;
    top:1px;
    width:24px;
    text-decoration:none;
    font-weight:bold;
    border-radius:3px;
}

.close:hover{
    background:#333333;
}
.popup{

    position: absolute;
    margin: 0 auto;
    width: 100%;

}
.popup-image{

    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../imagenes/ninologin.png) ;

}

.popupbox{
    width:350px;
    position:relative;
    padding:5px 20px 13px 20px;
    background:white;
    border-radius:5px;
    top: 30px;
    transition:all 500ms ease-in;
    border: 5px solid #54c4c7;

}








