.type-color-1 {
  color: #00A6A5; }

.type-color-2 {
  color: #F15C22; }

.type-color-3 {
  color: #FFFFFF; }

.type-color-4 {
  color: #9F9E9E; }

.type-color-5 {
  color: #404041; }

.modificar {
  font-size: 0.875rem; }

.title {
  font-size: 3rem;
  font-family: "Dosis";
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600; }

.title-form {
  font-size: 3rem;
  font-family: "Lato"; }

.titulo-ampliar-curso {
  color: #404041;
  max-width: 500px;
  font-weight: 500;
  margin-top: 50px; }

.profile-name {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400; }

.destacado {
  font-size: 2.25rem;
  font-family: "Dosis";
  font-weight: 400;
  font-style: normal; }

.subtitle {
  font-size: 1.5rem;
  margin: 0px; }

.secondary-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0px; }

.secondary-subtitle {
  font-size: 0.875rem;
  font-weight: 200;
  margin: 0;
  color: #404041; }

p {
  font-size: 1rem;
  text-align: left; }

.categorias-menu {
  padding-right: 10px;
  line-height: 30px;
  margin: 0; }

.categorias-menu:hover {
  color: #f15c22; }

.light {
  font-weight: 200;
  color: #00A6A5;
  margin: 0; }

.tags {
  font-size: 0.875rem;
  font-weight: lighter;
  font-style: italic; }

.terms {
  font-size: 0.75rem;
  clear: both; }

.copyright {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 0.625rem;
  margin: 0px; }

.nofloat {
  float: none;
  margin: 0px; }

.centrado {
  text-align: center; }

.line {
  line-height: 0.5; }

.underline {
  text-decoration: underline; }

.container-colores {
  width: 800px;
  height: 150px;
  margin: 0 auto; }

.container-borde {
  width: 800px;
  height: 150px;
  margin: 0 auto; }

.sg-codigo-color {
  margin: 40px;
  color: white; }

.sg-codigo-color1 {
  margin: 40px;
  color: #404041; }

.sg-color-corporativo1 {
  width: 150px;
  height: 150px;
  background-color: #00A6A5;
  float: left;
  color: white;
  margin-left: 80px; }

.sg-color-corporativo2 {
  width: 150px;
  height: 150px;
  background-color: #F15C22;
  float: left;
  color: white;
  margin-left: 10px; }

.sg-color-corporativo3 {
  width: 150px;
  height: 150px;
  background-color: #404041;
  color: white;
  float: left;
  margin-left: 10px; }

.sg-color-corporativo4 {
  width: 150px;
  height: 150px;
  background-color: #E6E6E6;
  color: #404041;
  float: left;
  margin-left: 10px; }

.sg-border-grueso {
  width: 150px;
  height: 150px;
  border: 5px solid #00A6A5;
  float: left;
  margin-left: 5px; }

.sg-border-fino3 {
  width: 150px;
  height: 150px;
  border: 2px solid #F15C22;
  float: left;
  margin-left: 10px; }

.sg-border-fino4 {
  width: 150px;
  height: 150px;
  border: 2px solid #404041;
  float: left;
  margin-left: 10px; }

.sg-background-4 {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  background-color: rgba(51, 51, 51, 0.15);
  float: left; }

a {
  text-decoration: none; }

.type-color-5 a {
  color: #404041; }

.type-color-5 a:hover {
  color: white; }

.type-color-2 a {
  color: #f15c22; }

.type-color-2 a:hover {
  color: #404041; }

.type-color-3 a {
  color: white; }

.type-color-3 a:hover {
  color: #f15c22; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #404041; }

.background-4 {
  width: 100%;
  margin-top: 20px;
  background-color: rgba(51, 51, 51, 0.15); }

#container {
  max-width: 1024px;
  margin: 0 auto; }

.left {
  float: left; }

.margin-left {
  margin-left: 15px; }

.clear {
  clear: both; }

.no-margin {
  margin: 0; }

.todos-anuncios {
  float: right;
  width: 82%;
  margin: 10px 0px 40px 0px; }

.anuncio {
  width: 31%;
  float: left;
  margin: 0px 20px 20px 0px;
  position: relative;
  background-color: white; }

.container-anuncio {
  padding: 8px 8px 8px 8px; }

.fondo-anuncio {
  background-color: #1BA8A6; }

.texto-cuadrado {
  text-align: center;
  padding: 20px 10px 30px 10px; }

.mas-info {
  padding-bottom: 60px;
  margin: 0px 10px 0px 10px; }

.total-icono {
  float: left;
  width: 40%; }

.container-stars {
  float: right;
  width: 80%; }

.container-icon {
  width: 20%;
  float: left; }

.icono {
  width: 100%;
  padding-right: 2px; }

/*-------
ayuda

-------*/
.foto {
  margin: 0 auto;
  width: 30%;
  padding-top: 20px; }

.foto-alumno {
  width: 100%; }

.mail-alumnos {
  width: 40px;
  left: 5px;
  top: 0;
  position: absolute; }

/*----------
encuentra
---------*/
.total-img-curso {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  height: 213px; }

.img-curso {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1000; }

.total-img-curso:hover .img-curso {
  z-index: 0; }

.texto-curso {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-color: white; }

.contenido-curso {
  margin: 5px; }

.mail-cursos {
  width: 45px;
  top: 0;
  left: 35%;
  position: absolute; }

/*---------
Anuncio ampliado
---------*/
.parte-izquierda-info {
  width: 60%;
  float: left; }

.imagen-curso {
  margin-top: 20px;
  max-width: 100%; }

.botones-perfil {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 79%; }

.general-button {
  border: none;
  text-align: center;
  padding: 20px 60px 20px 60px;
  border-radius: 8px; }

.medium-button {
  width: 25%; }

.small-button {
  width: 8%; }

.button-1 {
  background-color: #00A6A5; }

.button-2,
.button-mail {
  background-color: #f15c22; }

.button-3 {
  border: 2px solid #f15c22;
  background-color: transparent; }

.general-button:hover {
  background-color: #404041; }

.button-1,
.button-2,
.button-3,
.button-mail,
.button-unete span {
  font-weight: 400;
  text-transform: uppercase; }

.button-1,
.button-2,
.button-3 span {
  font-size: 18px; }

.button-mail span {
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 14px; }

.button-1,
.button-2,
.button-mail span {
  color: white; }

.button-3 span {
  color: #f15c22; }

.full-button {
  display: block;
  width: 100%;
  padding: 20px 10px 20px 10px; }

.container-mail {
  position: absolute;
  margin: 36px auto;
  left: 0;
  right: 0;
  width: 55%; }

.button-mail {
  border: 10px solid white;
  border-radius: 15px;
  width: 100%;
  padding: 13px 0px 13px 0px; }

.button-mail:hover {
  background-color: #404041; }

.button-unete {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  height: 20px;
  text-align: center; }

.button-unete span {
  color: #404041; }

.button-unete:hover {
  background-color: #f15c22; }

/*--------
Text inputs and text areas
--------*/
.pform {
  padding-top: 20px;
  margin: 0; }

.caja-formulario {
  clear: both;
  margin-top: 20px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: #E6E6E6;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  padding: .5rem;
  width: 100%;
  border: none;
  color: #A0A0A0; }

.margin-none {
  margin-top: 0; }

.big-textarea {
  padding-bottom: 50px; }

.mini-input {
  width: 20%;
  display: inline-block; }

#input-footer {
  width: 100%;
  background: white;
  border: 1px solid black;
  height: 20px; }

/*----------
Checkboxes, selects
----------*/
.form-check {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
  clear: both; }

.form-check span {
  color: #404041;
  margin-left: 3px; }

.total-partes-dia {
  float: left;
  width: 30%; }

.box-check {
  position: relative;
  background: url(../imagenes/box-dias.svg) no-repeat;
  background-size: contain;
  height: 120px;
  clear: both;
  margin-bottom: 10px; }

select {
  height: 35px; }

.apartado-ampliado {
  padding: 40px 0px 40px 0px;
  clear: both; }

.valoracion {
  border-bottom: 1px solid black; }

.valoracion:last-child {
  border: none; }

.foto-mini {
  float: left;
  margin: 20px 10px 0px 0px;
  clear: both; }

.foto-val {
  clear: both; }

.texto-val {
  float: left;
  width: 70%; }

.stars-val {
  width: 21%; }

.box-perfil {
  background-color: white;
  overflow: hidden; }

.menu-interior {
  width: 100%;
  text-align: left;
  padding: 0px;
  background-color: #00A6A5; }

.menu-interior ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.pestanyas {
  float: left; }

.pestanyas a {
  color: white;
  text-decoration: none;
  background-color: #00A6A5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: block; }

.pestanyas a:hover {
  background-color: white;
  text-decoration: none;
  color: #00A6A5; }

.contenido-perfil {
  margin: 10px 10px 10px 30px; }

.option-2,
.option-3,
.option-4,
.option-5 {
  display: none; }

.masc {
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.masc::before {
  background: rgba(0, 0, 0, 0.8);
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.masc:target {
  opacity: 1;
  pointer-events: auto; }

.popup {
  display: none;
  position: absolute;
  margin: 0 auto;
  width: 100%; }

.popup-image {
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../imagenes/ninologin.png); }

.popup-image-2 {
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../imagenes/ninogracias.png); }

.top {
  top: 200px; }

.close {
  background: #f15c22;
  color: #FFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px; }

.close:hover {
  background: #333333; }

.popup-box {
  width: 400px;
  padding: 5px 20px 13px 20px;
  background: white;
  border-radius: 5px;
  transition: all 500ms ease-in;
  border: 5px solid #54c4c7;
  margin: 0 auto;
  position: relative; }

.container-popup {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto; }

.link-facebook {
  width: 100%; }

.img-facebook {
  padding-bottom: 20px;
  border-bottom: 1px solid #404041; }

.img-proceso {
  margin: 0 auto; }

.proceso {
  width: 100%; }

.caja-consejos {
  float: left;
  width: 50%;
  margin-left: 40px; }

.consejos {
  background-color: #E6E6E5;
  text-align: left;
  width: 400px;
  opacity: 0.7;
  margin: 0 auto;
  padding-top: 10px; }

.consejo {
  margin-top: 50px; }

.boton-consejos {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  color: white;
  text-align: center;
  float: left;
  margin-left: 30px;
  margin-right: 10px; }

table {
  border-collapse: collapse; }

td, th {
  padding: 0.8rem;
  text-align: center; }

th {
  background-color: #DCDCDB; }

td {
  background-color: #F0F0F0; }

.table-check {
  border: 2px solid #00A6A5; }

.second-td {
  background-color: #DCDCDB; }

.icono-tabla {
  display: none;
  margin: 0 auto; }

.title-table {
  text-align: left; }

.titulo-encabezado {
  clear: both;
  width: 100%;
  padding-bottom: 10px; }

.contenido-titulo {
  position: relative;
  float: left;
  width: 40%;
  padding-top: 80px;
  margin-left: 400px; }

.muneco-busqueda {
  position: absolute;
  margin-left: -150px;
  top: 100px; }

/*------
aside ampliado
------*/
.parte-derecha-info {
  width: 33%;
  float: left;
  margin-left: 30px;
  background-color: white;
  padding: 50px 30px 300px 30px; }

.mini-box-info {
  margin-top: 40px;
  clear: both; }

.info-name {
  margin-left: 10px;
  float: left; }

.sub-info-name {
  clear: both;
  padding-bottom: 20px; }

.container-perfil {
  margin: 20px 20px 0px 0px; }

.texto-perfil {
  margin-left: 60px; }

.titulos-apartados {
  margin-bottom: 20px; }

.programa {
  clear: both;
  margin-top: 10px; }

/*-------

aside categorias
------*/
.filtros {
  float: left;
  width: 17%;
  margin-top: 40px;
  clear: both; }

.categorias {
  margin-top: 50px; }

.lista-categorias {
  margin-top: 20px; }

img.icono-naranja {
  float: left;
  width: 10%;
  margin-top: 4px;
  margin-right: 7px; }

.programas {
  margin-top: 30px; }

.cuadroprogram {
  margin-top: 20px;
  width: 60%; }

.disponibilidad {
  margin-top: 30px; }

.metodo {
  margin-top: 30px; }

.checkbox {
  padding: 0px;
  margin-top: 20px; }

/*--------

aside perfil
--------*/
.parte-izquierda {
  float: left;
  width: 30%;
  margin-right: 20px;
  margin-top: 50px;
  padding: 10px;
  background-color: white; }

.cien-por-cien {
  width: 100%; }

.img-perfil {
  width: 60%; }

.informacion-persona {
  margin: 40px 0 0 0px; }

.info-perfil {
  padding: 0px; }

footer {
  background-color: #231F20;
  clear: both;
  margin: 0;
  padding: 20px;
  width: 100%; }

.pie {
  margin: 0 auto; }

.mini-box-pie {
  float: left;
  width: 33%;
  margin: 0 auto;
  padding: 20px; }

.icono-pie {
  width: 100%; }

.red-social {
  float: left;
  padding: 0 10px 0 0; }

.newsletter {
  margin: 0 auto;
  padding-top: 10px; }

.caja-footer {
  float: left; }

/*---------
grid

---------*/
.row {
  margin-left: -15px;
  margin-right: -15px; }

@media screen and (max-width: 650px) {
  .col-4 {
    width: 50%;
    float: left;
    margin-left: 60px; } }
@media screen and (max-width: 420px) {
  .col-4 {
    width: 100%;
    float: none;
    margin: 0; } }
header {
  margin: 1.5rem 0 3rem 0;
  overflow: hidden;
  background-color: white; }

.img-logo {
  width: 100%;
  margin-right: 4px; }

@media screen and (max-width: 800px) {
  .logo {
    min-width: 100px; } }
.logo {
  width: 13%;
  float: left; }

.menu {
  text-align: center;
  line-height: rem(5px);
  float: right; }

.menu ul li {
  list-style: none;
  float: left;
  margin-left: 20px; }

.menu-izquierda {
  float: left;
  margin-left: 10px; }

.menu-derecha {
  float: right; }

.menu li a {
  color: #404041; }

.menu-izquierda li a {
  text-transform: uppercase; }

.menu a:hover {
  color: #f15c22; }

.buscar-top {
  display: inline; }

.parte-derecha {
  margin: 50px 0 0 40px;
  float: right;
  background-color: red; }

.iconos-perfil {
  float: left;
  margin-right: 10px; }

.contenido {
  width: 80%;
  float: left; }

.icono-perfil {
  float: left; }

/*-----

sobre-mi
-----*/
.url {
  float: left; }

.redes-izquierda {
  display: inline-block;
  width: 30%; }

.redes-derecha {
  display: inline-block;
  margin-left: 200px;
  width: 30%; }

.galeria {
  margin-top: 20px; }

.fotos-trabajos {
  margin-bottom: 80px;
  margin-top: 20px; }

.foto-izquierda {
  float: left;
  width: 30%; }

.foto-medio {
  float: left;
  width: 30%;
  margin-left: 10px; }

.foto-derecha {
  float: left;
  width: 30%;
  margin-left: 10px; }

.foto-galeria-perfil {
  width: 90%; }

/*-------

PERFIL-CURSOS

--------*/
.no-cursos-cuadrado {
  border: 1px solid #54c4c7;
  width: 90%;
  margin-bottom: 80px;
  margin-top: 100px; }

.contenido-no-cursos {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px; }

.personaje {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -155px;
  width: 30%; }

/*-------

PERFIL-SOBRE MI

--------*/
.programas-info {
  margin-bottom: 40px;
  margin-top: 30px; }

.total-programas {
  margin-top: 10px; }

.parte-izquierda-pro {
  float: left;
  width: 40%; }

/*.parte-derecha-pro{
    float: left;
    width: 40%;
    margin-left: 20px;
}
existe?
*/
form.turnos {
  float: right;
  margin-top: -15px; }

.dias-horizontal {
  width: 350px; }

.inline {
  display: inline-block; }

.img-top {
  margin: 0 auto;
  margin-top: 50px; }

.fondo-img-top {
  background-image: url(../imagenes/portada_home.jpg);
  height: 610px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.contenido-top {
  margin: 0 auto;
  width: 100%;
  top: 100px;
  position: absolute; }

.texto-top-1 {
  text-align: center;
  padding-bottom: 90px;
  width: 50%;
  margin: 0 auto;
  float: left;
  position: relative; }

.texto-top-2 {
  text-align: center;
  padding-bottom: 90px;
  width: 50%;
  margin: 0 auto;
  float: right; }

.box2 {
  clear: both; }

section.minibox {
  width: 30%;
  float: left;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 30px; }

#img2 {
  text-align: center; }

.article2 {
  margin-top: 100px;
  width: 100%; }

.info {
  margin: 0 auto;
  max-width: 90%; }

/*# sourceMappingURL=styles.css.map */
