.sg-header-position{
    margin:0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.sg-container-full {
    width: 100%;
}

.sg-img-logo{
    margin:10px;
}

.sg-menu{
    float: right;
    line-height: 1.5;
    margin-right: 20px;
    text-align: center;
}

.sg-menu ul li{
    float: left;
    list-style: none;
    margin-left: 15px;
}

.sg-menu li a {
    color: #404041;
}

.sg-menu li a.active,
.sg-menu a:hover {
    color: #f15c22;
}

.sg-logo{
    margin: 0 auto;
    padding-bottom:20px;
    width: 20%;
}

.sg-style-guide{
    background: #fff;
    margin: 0;
}

.sg-wrapper{
    background: white;
    margin: 0 auto;
    max-width: 970px;
    padding:1rem;
}

.sg-main-title{
    color:#00A6A5;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 10px 0 0;
}

.sg-title-style-guide{
    color: #404041;
    font-family: "DOSIS", sans-serif;
    font-size: 2rem;
    margin: 0;
}

/*
.sg-subtitle-style-guide{
    font-family: "DOSIS", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    margin: 40px;
    text-align: center;
    text-transform: uppercase;
}*/

/*
.sg-subtitle-style-guide-2{
    font-family: "DOSIS", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    margin: 40px;
    text-align: center;
    text-transform: uppercase;
}*/

.sg-margin-bottom{
    margin-bottom: 55px;
}

.sg-padding-top{
    padding-top: 20px;
}

/*
.sg-border-grueso,
.sg-border-fino3,
.sg-border-fino4,
.sg-border-fino5, {
    width: 200px;
}
*/
.sg-container-colores{
    height: 200px;
    width: 900px;
}

/*
.container-colores{
    width:800px;
    height:150px;
    margin: 0 auto;
}*/

.sg-container-borde{
    height: 150px;
    margin: 0 auto;
    width: 650px;
}

.container-borde{
    height: 150px;
    margin: 0 auto;
    width: 800px;
}

/*
.sg-codigo-color{
    margin: 40px;
    color: white;
}*/

/*
.sg-codigo-color1{
    margin: 40px;
    color: #404041;
}*/

.sg-color-corporativo{
    color: white;
    height: 150px;
    float: left;
    margin-left: 10px;
    width: 200px;
}

.sg-color-corporativo1{
    background-color: #00A6A5;
}

.sg-color-corporativo2{
    background-color: #F15C22;
}

.sg-color-corporativo3{
    background-color: #404041;
}

.sg-color-corporativo4{
    background-color: rgba(51, 51, 51, 0.15);
}

.sg-color-tipografia{
    background-color: #808284;
    float: none;
    margin-left: 20px;
}

/*
.sg-izquierda{
    padding-left: 0px;
}*/

.sg-fondo-header{
    background-color: white;
    border-radius: 0px;
    margin-top: 20px;
    padding: 10px;
}

/*
.sg-fondo-blanco{
    background-color: white;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
}
*/

.sg-margin-auto{
    margin: 0 auto;
}

.sg-margin-top,
.sg-margin-top-iconos{
    margin-top: 10px;
}

.sg-margin-top-logo {
    margin-top: 25px;
}

.sg-margin-top-texto {
    margin-top: 60px;
}

.sg-display-block{
    display: block;
}

.sg-ancho-estrellas,
.sg-ancho-conocimientos {
    width: 120px;
}

.sg-ancho-caja {
    width: 30%;
}

.sg-float-none{
    float: none;
    clear: both;
}

.sg-contenedor-header{
    width: 1500px;
}

.sg-container-button{
    padding-top: 20px 0 40px 0;
    margin: 0 auto;
    width: 500px;
}

.sg-pepe{
    float: left;
    margin: 40px 40px 25px 0;
    width: 20%;
}

.sg-pepe-imagen{
    width: 100%;
}

.sg-todos-anuncios{
    padding-top: 20px;
    margin: 10px 0 40px;
    width: 100%;
}

.sg-todos-anuncios li{
    list-style: none;
}

.sg-row {
    border: 2px solid  white;
    margin-bottom: 20px;
    max-width: 1280px;
}

.sg-col-3{
    background-color: rgba(51, 51, 51, 0.15);
    float: left;
    width: 30%;
}

.sg-col-9{
    background-color: #F0F0F0;
    float: left;
    width: 70%;
}

.sg-col-4{
    background-color: white;
    border: 1px solid #DCDCDB;
}

.sg-contenido-valoraciones{
    width: 70%;
}

.sg-iconos-lateral {
    margin: 0 auto;
    width: 320px;
}

.sg-iconos-lateral-azules {
    margin: 0 auto;
    width: 220px;
}

.sg-iconos-header {
    margin: 0 auto;
    padding-top: 20px;
    width: 180px;
}

.sg-ilustraciones-margin {
    margin:0 auto;
    padding-top: 20px;
    width: 750px;
}

.sg-color-anuncios {
    background-color: white;
}

.sg-iconos-negros {
    clear: both;
    margin:0 auto;
    padding-top: 25px;
    width: 370px;
}

.sg-centrar-tabla {
    margin: 20px auto 0;
    width: 300px;
    /*
    margin: 20px;
    margin-top: 20px;
    */
}

.sg-text-align {
    text-align: center;
}

.sg-centrar-munecos {
    margin: 100px auto;
    width: 400px;
}

.sg-imagen-munecos {
    width: 400px;
}

.sg-max-width {
    max-width: 600px;
}

.sg-margin-centro {
    margin: 0 auto;
}

.sg-margin-bottom-title {
    margin-bottom: 40px;
}

.sg-no-margin {
    margin-top: 5px 0 30px 0;
}

.sg-float-left {
    float: left;
    width: 45%;
}

.sg-float-right {
    float: right;
    width: 45%;
}

.sg-letterspacing {
    letter-spacing: 3px;
}

.sg-font-weight {
    font-weight: 300;
}

.lato-1 {
    font-family: 'Lato';
    font-weight: 100;
}

.lato-2 {
    font-family: 'Lato';
    font-weight: 300;
}

.lato-3 {
    font-family: 'Lato';
    font-weight: 700;
}

.dosis-1 {
    font-family: 'Dosis';
    font-weight: 200;
}

.dosis-2 {
   font-family: 'Dosis';
   font-weight: 500;
}

.dosis-3 {
    font-family: 'Dosis';
    font-weight: 700;
}

.sg-clear {
    clear: both;
}

.sg-margin-top-text {
    padding-top: 50px;
}

.sg-p-colores {
    color: black;
    margin-top: 160px;
}

.sg-margin-buttons {
    margin-right: 20px;
}

.sg-float-iconos {
    float: left;
}

.sg-margin-bottom-links {
    margin-bottom: 20px;
}

.sg-borde-gris {
    border: 1px solid rgba(51, 51, 51, 0.15);
}

.sg-margin-top-texto {
    margin-top: 180px;
}

.sg-margin-iconos {
    margin-bottom: 10px;
}

.sg-margin-title {
    margin-left: 190px;
}

.sg-no-margin {
    margin: 0;
    padding: 0;
}

.sg-margin-negativo {
    margin-top: -20px
}

.sg-container-main-title{
    margin: 0 auto;
    width: 50%;
}


.sg-border{
    height: 150px;
    float: left;
    width: 150px;
}

.sg-border-grueso{
    border: 5px solid #00A6A5;
    margin-left: 5px;
}

.sg-border-fino3{
    border: 2px solid #F15C22;
    margin-left: 10px;
}

.sg-border-fino4{
    border: 2px solid #404041;
    margin-left: 10px;
}
.sg-border-fino5{
    border: 2px solid rgba(51, 51, 51, .15);
    margin-left: 10px;
}

/*
.sg-background-4{
    margin-left: 10px;
    margin-top: 30px;
    background-color: rgba(51, 51, 51, .15);
}
*/
