

.sg-style-guide{
	margin: 0;
	background: #fff;
}

.sg-wrapper{
	max-width: 970px;
	margin: 0 auto;
	background: #ddd;
	padding:1rem;
}

.sg-main-title{
	text-align: center;
	font-family: "Dosis", sans-serif;
	font-size: 3rem;
	color:#00A6A5;
	text-transform: uppercase;
}

.sg-title-style-guide{
	font-family: "DOSIS", sans-serif;
	font-size: 2rem;
	color: #404041;
	text-transform: uppercase;
	text-align: center;
}
.sg-subtitle-style-guide{
	font-family: "DOSIS", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	color: black;
	margin: 40px;
	text-align: center;
	text-transform: uppercase;
}

.sg-margin-bottom{
	margin-bottom: 15px;
}
.sg-padding-top{
	padding-top: 15px;
}
.sg-text-left{
	text-align: left;

}
.sg-subtitle{
	text-align: center;


}

.container-colores{
	width:520px;
	height:150px;
	margin: 0 auto;
}

.sg-color-corporativo1{
	width:150px;
	height:150px;
	background-color:#00A6A5;
	float:left;
	color:white;
	margin-left: 10px;

}

.sg-color-corporativo2{
	width:150px;
	height:150px;
	background-color:#F15C22;
	color:white;
	float: left;
	margin-left: 10px;

}

.sg-color-corporativo3{
	width:150px;
	height:150px;
	background-color:#404041;
	color:white;
	float:left;
	margin-left: 10px;
}

.sg-color-tipografia{
	background-color:#808284;
	margin-left: 20px;
	float: none;

}

.sg-izquierda{
	padding-left: 0px;
}


.sg-margin-auto{

	margin: 0 auto;


}

.sg-float-left{

	float: left;
	margin-left: 20px;
}

.sg-float-none{
	float: none;
	clear: both;
}

.contenedor-header{
	width: 1500px;
}
.sg-container-button{

	width: 25%;
	padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
}
/*-------
grid
--------*/
.sg-row {
  border: 2px solid  white;
    margin: 0 -10px;
  margin-bottom: 20px;
  max-width: 1280px;
}

.sg-row:last-child {
  margin-bottom: 0;
}

[class*="col-"] {
  float: left;
    padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
.sg-col-3{

    background-color: white;
    margin: 20px;
    float: left;
    width: 30%;


}

.sg-col-9{

    background-color: #F0F0F0;
    float: left;
    width: 60%;

 
}

.sg-col-4{

    background-color: white;
    border: 1px solid #DCDCDB;
  

}
@media screen and (max-width: 1280px){

.sg-col-4{

    width: 29%;
    float: left;
    margin-left: 20px;

}

}

@media screen and (max-width: 650px){

.sg-col-4{

    width: 50%;
    float: left;
    margin-left: 60px;


}

}
@media screen and (max-width: 320px){

.sg-col-4{

    width: 100%;
    float: none;
    margin: 0;

}

}