/*----------
NO SE GUÍEN EN LOS TEXTOS DE LOS TITULARES, despues vemos que le ponemos.
Cada vez que pongo span la tipo no aparece no se si lo tendremos que cambiar a <p> o que!
----------*/


body{
	color: #404041;

}


.sg-style-guide{
	margin: 0;
	background: #ddd;
}

.sg-wrapper{
	max-width: 970px;
	margin: 0 auto;
	background: #fff;
	padding:1rem;
}

.sg-main-title{
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	color:#ddd;
	padding-bottom: 20px;
}

.sg-title-style-guide{
	font-family: "DOSIS", sans-serif;
	font-size: 2rem;
	color: black;
	margin: 40px;
	text-align: center;
	text-transform: uppercase;
}

.sg-margin-bottom{
	margin-bottom: 15px;
}

.sg-subtitle{

	text-align: center;
	margin: 30px;
	margin-top: 10px;

}

.container-colores{
	width:700px;
	height:150px;
	margin: 0 auto;
}

.sg-color-corporativo1{
	width:150px;
	height:150px;
	background-color:#00A6A5;
	margin-right: 10px;
	float:left;

}

.sg-color-corporativo2{
	width:150px;
	height:150px;
	background-color:#F15C22;
	margin-left: 80px;
	float: left;

}

.sg-color-corporativo3{
	width:150px;
	height:150px;
	background-color:#404041;

	float:right;
}

.sg-color-tipografia{
	background-color:#808284;
	margin-left: 20px;
	float: none;

}

.sg-izquierda{
	padding-left: 0px;
}


.sg-margin-auto{

	margin: 0 auto;
	width: 26%;

}

.sg-float-left{

	float: left;
	margin-left: 20px;
}

.sg-float-none{

	float: none;
}