
.type-color-1{
    color: #00A6A5;
}
.type-color-2{
    color: #F15C22;
}
.type-color-3{
    color: #FFFFFF;
}
.type-color-4{
    color: #9F9E9E;
}

#container{
    max-width: 1000px;
    margin: 0 auto;

}

.modificar.type-color-2{

}
.title.type-color-1{
     font-size: 48px;
     font-family: "Dosis";
     margin: 0px 0px 10px 0px;
     text-transform: uppercase;
}


h1.titulo-ampliar-curso {
    color: #404041;
    max-width: 500px;
    font-weight: 500;
    margin-top: 50px;
}

h2 {
    font-size: 48px;
    margin: 0px;
    font-weight: 400;
    }


.destacado.type-color-3{
     font-size: 36px;
     font-family: "Dosis";
     font-weight: 400;
     font-style: normal;
}

h3.texto-curso{

    text-align: center;
    color: #00A6A5;
    text-transform: uppercase;
    margin: 0;

}


.subtitle {
    font-size: 24px;
    margin: 0px;
}


.secondary-title {
     font-size: 18px;
     font-weight: bolder;
     margin: 0px;

}

p {
    font-size: 16px;
    text-align: left;
    color:#808284;
}


.categoriasmenu {
    padding-right: 10px;
    line-height: 30px;
    margin: 0px;
}

.categoriasmenu:hover {
    color:#f15c22;
}


.light {
    font-weight: lighter;
    color:#00A6A5;
    margin: 0;
}


.ayudame{
    font-weight: 400;
    display: inline-block;
    margin-top: 5px;
    width: 30%;
}

.tags {
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}
.textpopup{

    display: inline-block;
    font-size: 12px;
    text-decoration: underline;
}

.terms{
    font-size: 12px;
    text-align: center;
}
.textopie{
    text-align: center;
    padding:10px;
    color:white;
    font-size: 10px;
    margin: 0px;
}

.derechos{
    font-size: 10px;
    clear: both;
    color: white;
    text-align: right;
    width: 110px;
    float: right;
}

.nofloat{
    float: none;
    margin: 0px;
}

.white{
    color:white;
    padding: 0px;


}
.centrado{

    text-align: center;
}

.line{

    line-height: 0.5;
}