Sintaxis

// Color Variables
$primaryColor: #404041;
$secondaryColor: #f15c22;
$thirdColor: #00A6A5;
$fourthColor: white;

// Font size Variables
$primaryFontsize: 48px;
$secondaryFontsize: 36px;
$thirdFontsize: 24px;
$fourthFontsize: 18px;
$fifthFontsize:16px;
$sixFontsize: 14px;
$seventhFontsize: 12px;
$eigthFontsize: 10px;

// Font families Variables
$primaryFontfamily: "Lato", sans-serif;
$secondaryFontfamily: "Dosis", sans-serif;

// Font weight Variables
$primaryFontweight: 400;
$secondaryFontweight:200; 
$thirdFontweight:bolder; 

// text-transform Variables
$primaryTexttransform: uppercase;


// text-align Variables
$primaryTextalign:left;
$secondaryTextalign:center;
$thirdTextalign:right;


// font-style Variables
$primaryFontstyle: italic;


// text-decoration Variables
$primaryTextdecoration:underline;

// line-height Variables
$primaryLineheight:0.5;


// Width buttons Variables
$primaryWidth: 240px;
$secondaryWidth: 65%;
$thirdWidth: 83px;

// Height buttons Variables
$primaryHeight: 70px;
$secondaryHeight: 13%;
$thirdHeight: 20px;

// Border-radius Variables
$primaryBorderR: 8px;
$secondaryBorderR: 15px;

// Border Variables
$primaryBorder: 2px solid #f15c22;
$secondaryBorder: 10px solid white;
$thirdBorder: none;

// Padding buttons Variables
$primaryPadding: 10px 10px;
$secondaryPadding: ;
