Sintaxis

// Color Variables
$greyColor: #404041;
$orangeColor: #f15c22;
$blueColor: #00A6A5;
$whiteColor: white;

// Font size Variables
$primaryFontsize: 48px;
$secondaryFontsize: 36px;
$thirdFontsize: 24px;
$fourthFontsize: 18px;
$fifthFontsize:16px;
$sixFontsize: 14px;
$seventhFontsize: 12px;
$eigthFontsize: 10px;

// Font families Variables
$latoFontfamily: "Lato", sans-serif;
$dosisFontfamily: "Dosis", sans-serif;

// Font weight Variables
$normalFontweight: 400;
$thinFontweight:200; 
$boldFontweight:bolder; 

// text-transform Variables
$mayusTexttransform: uppercase;


// text-align Variables
$leftTextalign:left;
$centerTextalign:center;
$rightTextalign:right;


// font-style Variables
$italicFontstyle: italic;


// text-decoration Variables
$underlineTextdecoration:underline;

// line-height Variables
$menosLineheight:0.5;


// Width buttons Variables
$bigbuttonWidth: 240px;
$smallbuttonWidth: 65%;
$footerbuttonWidth: 83px;

// Height buttons Variables
$bigbuttonHeight: 70px;
$smallbuttonHeight: 13%;
$footerbuttonHeight: 20px;

// Border-radius Variables
$primaryBorderR: 8px;
$secondaryBorderR: 15px;

// Border Variables
$primaryBorder: 2px solid #f15c22;
$secondaryBorder: 10px solid white;
$thirdBorder: none;

// Padding buttons Variables
$primaryPadding: 10px 10px;
$secondaryPadding: ;
