/*-----
general
-----*/
.parte-derecha{
    margin: 50px 0 0 40px;
    float: right;
}

.iconos-perfil{
    float: left;
    margin-right: 10px;
}

.contenido{
    width: 80%;
    float: left;
}

/*-----
Perfil - sobre mi - OTROS
-----*/

.bloque-perfil{
    margin-top: 40px;
}

.url{
    float: left;
}

.redes-izquierda {
    display: inline-block;
    width: 30%;
}

.redes-derecha {
    display: inline-block;
    margin-left: 200px;
    width: 30%;
}

.lista-programas {
    padding-left: 0px;
}

.celdas-programas {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.celdas-programas-final{
    @extend .celdas-programas;
    padding-right: 20px;
    width: 20%;
}

.no-float {
    float:none;
}
/* SE PODRÍA DIVIDIR ASÍ, para que pagina sirven?
.redes {
    display: inline-block;
    width: 30%;
}
.redes-derecha {
    width: 30%;
}

*/
/*
.fotos-trabajos{
    margin: 20px 0 80px 0;
}*/

.foto-trabajo {
    float: left;
    width: 30%;
    margin: 0 10px 10px 0;
}

.descripcion-mi-perfil {
    padding-top: 20px;
}
/*-------

PERFIL-CURSOS

--------*/

.no-cursos-cuadrado{
    border: 1px solid #54c4c7;
    width: 90%;
    margin-bottom: 80px;
    margin-top: 100px;
}

.contenido-no-cursos{
    position: relative;
    margin-top:30px;
    margin-bottom: 30px;
}

.personaje{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:-155px;
    width: 30%;
}

/*-------

PERFIL-SOBRE MI

--------*/

form.turnos {
    float: right;
    margin-top: -15px;
}

.dias-horizontal {
    width: 350px;
}

.inline {
    display: inline-block;
}

.center{
    margin: 0 auto;
}

.texto-valoraciones{
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
}

.imagen-valoraciones{
    display: inline-block;
    width: 15%;
    margin-right: 20px;
}

.imagen-hover:hover{
    opacity: .6;
    transition: all 0.1s ease;
}
