.parte-derecha{
    float: right;
    margin: 50px 0 0 40px;
}

.iconos-perfil{
    float: left;
    margin-right: 10px;
}

.contenido{
    float: left;
    width: 86%;
}

.bloque-perfil{
    margin-top: 40px;
}

.lista-programas {
    padding-left: 0px;
}

.celdas-programas {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.celdas-programas-final{
    @extend .celdas-programas;
    padding-right: 20px;
    width: 20%;
}

.no-float {
    float:none;
}

.foto-trabajo {
    float: left;
    margin: 0 10px 10px 0;
    width: 30%;
}

.descripcion-mi-perfil {
    padding-top: 20px;
}

.no-cursos-cuadrado{
    border: 1px solid #54c4c7;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 90%;
}

.contenido-no-cursos{
    margin-top:30px;
    margin-bottom: 30px;
    position: relative;
}

.inline {
    display: inline-block;
}

.center{
    margin: 0 auto;
}

.texto-valoraciones{
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
}

.imagen-valoraciones{
    display: inline-block;
    width: 15%;
    margin-right: 20px;
}

.mensaje-contenido{
    width: 68%;
    display: inline-block;
}

.imagen-mensaje{
    width: 18%;
    float: left;
    margin: 10px;
}

.texto-mensaje{
    width: 70%;
    float: left;
    margin-bottom: 20px;
}

.mensaje{
    clear:both;
    position: relative;
}

.mensaje-no-leido {
    @extend .mensaje;
    background-color: rgb(240, 240, 240);
}

.mensaje-leido {
    @extend .mensaje;
    border-right: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.cruz-cerrar {
    position: absolute;
    top: 4px;
    right: 4px;
}