.article1{
    margin: 0 auto;
    margin-top: 50px;
}
.fondo-img-top {
    background-image: url(../imagenes/portada-home.png);
    height: 65%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}

.contenido-top {
    margin: 0 auto;
	width: 80%;
	top:100px;
}

.texto-top{
	text-align: center;
	width: 30%;
	margin:80px;
    position: relative;
}
.container-button{
	margin-top: 30px;
}


.article2 {
    margin-top: 70px;
    width: 100%;
}

.box2 {
	clear: both;
}
.info {
    width: 80%;
    height: 60%
}

section.mini-box {
	display:inline-block;
	width:25%;
	margin-top: 20px;
	margin-bottom: 100px;
    margin-left: 40px;
}
.img1{
	width:70%;
}





