
.fondo-img-top {
    background-image: linear-gradient(90deg, #08A6A6, #007978);
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
}

.container-ilustracion-top{
    width: 25%;
    height: 35%;
}

.contenido-top-2,
.contenido-top-1{
    text-align: center;
    background-repeat: no-repeat;
    width: 45%;
    margin-top: 20px;
    height: 100%;
}

.contenido-top-1{
    background-image: url(../imagenes/imagen-pepe-home.svg);
    background-position: left bottom;
}
.contenido-top-2{
    background-image: url(../imagenes/imagen-helena-home.svg);
    background-position: right bottom;
}

.texto-top{
	text-align: center;
	width: 45%;
    margin-left: 50px;
    margin-top: 50px;
}

section.container-ampersand-top{
    background-image: url(../imagenes/imagen-ampersand-home.svg);
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container-button{
	margin-top: 30px;
}

.container-titulo{
    margin-bottom: 40px;
}

.article2 {
    padding-top: 60px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 100%;
}

.box2 {
	clear: both;
}

section.mini-box-1,
section.mini-box-2,
section.mini-box-3,
{
	width:33%;
	padding-top: 40px;
    padding-bottom: 90px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}


.img1{
	width:70%;
    margin-bottom: 30px;
}

.container-texto{
    width: 100%;
    text-align: center;
}

/*

@media all and (max-width: 800px) {
    .fondo-img-top {
        height: 100%;
    }
}
@media all and (max-width: 750px) {
    section.mini-box-2,
    section.mini-box-1
    section.mini-box-3{
        width: 40%;

    }
}

@media all and (max-width: 400px) {
    section.mini-box-1
    section.mini-box-2
    section.mini-box-3
    .img1{
        float: left;

    }
    .container-texto{
        float: right;
    }
}
*/