
.fondo-img-top {
    background-image: url(../imagenes/portada-home.png);
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

.contenido-top {
    margin: 0 auto;
	width: 80%;
	top:100px;
}

.texto-top{
	text-align: center;
	width: 30%;
	margin:80px;
}
.container-button{
	margin-top: 30px;
}

.container-titulo{
    margin-bottom: 40px;
}

.article2 {
    padding-top: 60px;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 100%;
}

.box2 {
	clear: both;
}

section.mini-box-1,
section.mini-box-2,
section.mini-box-3,
{
	width:33%;
	padding-top: 40px;
    padding-bottom: 90px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}


.img1{
	width:70%;
    margin-bottom: 30px;
}

.container-texto{
    width: 100%;
    text-align: center;
}

/*

@media all and (max-width: 800px) {
    .fondo-img-top {
        height: 100%;
    }
}
@media all and (max-width: 750px) {
    section.mini-box-2,
    section.mini-box-1
    section.mini-box-3{
        width: 40%;

    }
}

@media all and (max-width: 400px) {
    section.mini-box-1
    section.mini-box-2
    section.mini-box-3
    .img1{
        float: left;

    }
    .container-texto{
        float: right;
    }
}
*/