/*------
aside ampliado
------*/

.parte-derecha-info {
    width: 30%;
    float: left;
    margin-left:30px;
    background-color:white;
    padding: 50px 30px 300px 30px;
}

.mini-box-info{

    margin-top: 40px;
    clear: both;
}

.info-name{
      margin-left: 10px;
      float: left;
}

.sub-info-name{
    clear: both;
    padding-bottom: 20px;
}

.container-perfil{
    margin:20px 20px 0px 0px;
}

.texto-perfil{
    margin-left: 60px;
}

.titulos-apartados {
    margin-bottom: 20px;
}

.programa{
    clear: both;
    margin-top: 10px;
}

/*-------

aside categorias
------*/
.filtros {
    float: left;
    width: 17%;
    margin-top: 40px;
    clear: both;
}

.categorias{
    margin-top:50px;
}

.lista-categorias{
    margin-top: 20px;
}

.iconos-cat {
}

img.icono-naranja{
    float:left;
    width: 10%;
    margin-top: 4px;
    margin-right: 7px;
}

.programas{
    margin-top: 30px;
}
.cuadroprogram{

    margin-top: 20px;
    width: 60%;
}

.disponibilidad{
    margin-top: 30px;
}

.metodo{
    margin-top: 30px;
}

.checkbox{
    padding: 0px;
    margin-top: 20px;

}
/*--------

aside perfil
--------*/

.parte-izquierda {
    float: left;
    width: 30%;
    margin: 30px 20px 0 0;
    padding: 10px;
    background-color: white;
}

.cien-por-cien {
  width: 100%;
}

.img-perfil{
    width:50%;
}

.informacion-persona{
 margin: 40px 0 0 0px;
}


.info-perfil {
    padding: 0px;
}

