header {
        margin: 1.5rem 0 1.5rem 0;
        overflow: hidden;
        background-color: white;
}

.img-logo {
    width: 80%;
    margin: 10px;
}

ul {
    padding-left: 10px;
}

@media screen and (max-width: 1090px){
        li {
                max-width: 100px;
        }
    }

    @media screen and (max-width: 900px) {
        ul {
            display: none;
        }
        .registro {
            display: none;
        }
    }

    @media screen and (min-width: 899px) {
        .imagen-desplegable {
                display: none;
        }
    }

    @media screen and (max-width: 815px){
        .input-buscador {
            margin-left: 10px;
        }
        .buscador {
            background-color: black;
        }
        .menu {
            max-width: 30%;
        }
        .logo {
            max-width: 162px;
        }
        #input-buscador {
            width: 50%;
        }
        .container-button-buscador {
            min-width: 70px;
        }
    }

.logo {
    float:left;
}

.menu {
    text-align: center;
    line-height: rem(5px);
    float: right;
    margin-right: 20px;
    width: 70%;
}

.menu ul li {
    list-style: none;
    float: left;
    margin-left: 15px;
}

.registro {
    float:left;
    margin-left: 15px;
}

.menu li a {
    color: #404041;
}

.menu a:hover {
    color:#f15c22;
}

.buscar-top {
    display: inline;
}

.buscador-desplegado {
    clear: both;
    background-color: rgba(51, 51, 51, 0.15);
    display:none;
}

.imagen-lupa {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 35px;
}

.imagen-desplegable {
    margin-left: 8px;
    margin-top: 8px;
    max-width: 35px;
}

.lupa-buscador {
    float: right;
    margin-bottom: 10px;
}

#input-buscador {
    margin: 15px 0px 15px 50px;
    max-width: 60%;
    float: left;
    border-radius: 5px;
}

.buscador-container-derecha {
    float: left;
    width: 30%;
    margin: 10px 0px 10px 0px;
}

.imagen-cerrar-buscador {
    margin-left: 5px;
    padding-top: 5px;
    max-width: 35px;
}

.container-button-buscador {
    width: 40%;
}