header{
        margin: 1.5rem 0 3rem 0;
        overflow: hidden;
}

.img-logo {
    width: 100%;
    margin-right: 4px;
}

@media screen and (max-width: 800px){
            .logo {
                min-width: 100px;
        }
    }

.logo{
    width: 13%;
    float:left;
}

.menu{
    text-align: center;
    line-height: rem(5px);
    float: right;
    
}

.menu ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
}

.menu-izquierda {
    float: left;
    margin-left: 10px;

}

.menu-derecha {
    float: right;
}
.menu li a{

    color: #404041;
}
.menu-izquierda li a{
    text-transform: uppercase;
}

.menu a:hover{
    color:#f15c22;
}

.buscar-top {
    display: inline;
   
}
