/*anuncios*/
.todos-anuncios {
    float:right;
    margin: 10px 0 40px 0;
    width: 83%;

    li{
        list-style: none;
        text-align: center;
    }
}

.anuncio {
    background-color: white;
    margin-bottom: 20%;
    position: relative;

      &:hover{
        .hover-container{
            display: block;
        }
    }
}

.content-container, .content-container-cursos{
    padding: 10px 20px 0 20px;
}

.texto-cuadrado {
    padding-bottom: 5px;
    text-align: center;
}

.texto-cuadrado-cursos{
    padding-bottom: 20px;
    text-align: center;
}

.mas-info{
    padding-bottom: 60px;
    width: 100%;
}

.anuncio-destacado{
    background-color: #1BA8A6;
    height: 340px;
}

.texto-cuadrado-destacado{
    padding: 35px 20px;
}

.mas-info-destacado{
    margin: 10px;
    padding-bottom: 20px;
}

/*--------
Buscador
-----------*/

.titular-seccion-buscador{
    float: right;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    width: 100%;
}

.especial{
    float: left;
    width: 100%;
    margin-top: 5px;
}

.container-anuncios-buscador{
    background-color: white;
    overflow: hidden;
    margin-bottom: 35px;
}

.imagen-anuncios-creativos{
    width: 90%;
    margin: 0 0 10px 5px;
}

.container-dudas-cursos{
    margin-top: 5px;
    width:100%;
}

.container-cantidad{
    float: left;
    margin: 10px 10px 0 0;
    width: 100%;
}

.total-icono-buscador{
    float: left;
    margin-top: 15px;
    width: 100%;
}

.padding-boton{
    padding: 30px;
}


@media all {
    .container-imagen-button{
    display: none;
    }
    .textos-anuncios-buscador{
        width: 100%;
    }
    .container-anuncios-buscador{
        padding: 30px;
    }

     .button-mail-responsive{
        display: block;
    }
}
@media all and (min-width: 500px){
    .container-imagen-button{
    display: block;
}
    .texto-anuncios-buscador{
    float: right;
    margin: 25px 0 0 5px;
    width: 65%;
}
    .container-imagen-button{
    float: left;
    width: 25%;
    margin: 15px;
}
    .container-anuncios-buscador{
        padding: 5px;
}

    .button-mail-responsive{
        display: none;
    }

}
@media all and (min-width: 1024px){
    .container-imagen-button{
    display: block;
}
    .texto-anuncios-buscador{
    float: right;
    margin: 25px 0 0 5px;
    width: 65%;
}
    .container-imagen-button{
    float: left;
    width: 25%;
    margin: 15px;
}
    .container-anuncios-buscador{
    padding: 5px;
    }

    .button-mail-responsive{
        display: none;
    }
}

/*-------
ayuda
-------*/

.foto{
    margin: 0 auto;
    padding-top: 20px;
    width: 36%;
}

.foto-alumno {
    width: 100%;
}

.texto-cuadrado-large {
    padding: 70px 20px 78px 20px;
    text-align: center;
}

/*----------
encuentra
---------*/


.texto-cuadrado-small{
    text-align: center;
    padding: 20px 20px 0 20px;
}

.image-container{
    height: 0;
    overflow: hidden;
    padding-bottom: 77%;
    position: relative;
    width: 100%;
}

.img-curso{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.texto-curso{
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.hover-container{
    background-color: white;
    display: none;
    margin: auto;
    padding: 0 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.hover-container p{
    font-size: 14px;
}

/*---------
Anuncio ampliado
---------*/

.parte-izquierda-info {
    width: 60%;
    float: left;
}

.imagen-curso {
    margin-top: 20px;
    max-width: 100%;
}

.margin-top-ampliado{
    margin: 30px 0 0 5px;
}