/*.botones-perfil{
    padding: 40px 0;
    margin: 0 auto;
    width: 79%;
}*/

.boton-margen {
    margin-bottom: 10px;
}

.general-button{
    border: none;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block;
}

.general-button:hover{
    background-color:#404041;
}
.full-button{
    display:block;
    width: 100%;
    padding: 20px 10px;
}

.medium-button{
    width: 25%;
}

.small-button{
    width: 8%;
}

.button-1{
    background-color:#00A6A5;
}

.button-2,{
    @extend .general-button;
    background-color:#f15c22;
}

.button-mail{

    background-color:#f15c22;
    transition: all 0.3s ease;
}


.button-3{
    @extend .general-button;
    border: 2px solid #f15c22;
    background-color: rgba(0, 0, 0, 0.0);
}

.button-1,
.button-2,
.button-3 {
    font-size: 18px;
    padding: 15px 40px;
    @extend .general-button;
}


.button-1,
.button-2,
.button-3,
.button-mail,
.button-unete span{
    font-weight: 400;
    text-transform: uppercase;
}

.button-1,
.button-2,
.button-3 span{
    font-size: 18px;
    padding: 20px 40px;
}



.button-1,
.button-2,
.button-mail span{
    color:white;
}

.button-3 span{
    color:#f15c22;
}

.button-mail span{

    font-size:1rem;
    margin-left:14px;
}

.container-mail{
    position: absolute;
    margin:60px auto;
    left:0;
    right:0;
    width: 50%;
}

.button-mail {
    border-radius: 7px;
    width: 100%;
    transition: all 0.3s ease;
    height: 30px;
    border:none;
    margin:0;

}

.button-mail:hover{
    background-color:#404041;
}

.button-unete{
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    height: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.button-unete span{
    color: #404041;
}

.button-unete:hover{
    background-color:#f15c22;
}


.mail-alumnos{

    background-image:url(../imagenes/mail-b.svg);
    background-position: left;
    background-size:contain;
    background-repeat:no-repeat;

}

.mail-cursos{
    background-image:url(../imagenes/mail-b.svg);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;


}

