.masc{
    font-family:"Lato", sans-serif;
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    z-index:99999;
    display: none;
    -webkit-transition:opacity 400ms ease-in;
    -moz-transition:opacity 400ms ease-in;
    transition:opacity 400ms ease-in;
    // pointer-events:none;
}
.masc::before {
    background:rgba(0,0,0,0.8);
    content: '';
    display: block;
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

.masc:target{
    opacity:1;
    pointer-events:auto;

}


.popup{
    position: absolute;
    margin: 0 auto;
    width: 100%;

}
.popup-image{

    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../imagenes/ninologin.png);
    background-size:20% auto;
    



}
.popup-image-2{

    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../imagenes/ninogracias.png);


}
.top{
    top:52px;
   
}

.close{
    background: #f15c22;
    color:#FFF;
    line-height:25px;
    position:absolute;
    right:-12px;
    text-align:center;
    top:-12px;
    width:24px;
    text-decoration:none;
    border-radius:12px;
}

.close:hover{
    background:#333333;
}

.popup-box{
    width:500px;
    padding:5px 20px 23px 20px;
    background:white;
    border-radius:5px;
    transition:all 500ms ease-in;
    border: 5px solid #54c4c7;
    margin:0 auto;
    position:relative;
}

.container-popup{
    width: 75%;
    margin: 0 auto;
   

}
.height-scroll{

    max-height: 370px;
    overflow: scroll;


}
.border{

    border:1px solid #404041;
    padding:0px 5px 0px 5px;
}
.movedown{

    margin:10% auto;
}
.movedown-2{
    margin:1% auto;
}

.movedown-3{

    margin:5% auto;
}

.link-facebook{
    width: 100%;

}
.margin-auto-popup{

  margin:0 auto;
  width: 45%;
  padding:20px 0px 10px 0px;
}
.padding-button-popup{

    padding:23px 10px 24px 0px;
}

.img-facebook{
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #404041;
}

.img-proceso{
    margin: 0 auto;
    width: 70%;
}

.proceso{
    width: 100%;
}
.caja-consejos {
    float: left;
    width: 50%;
    margin-left: 40px;
}

.consejos {
    background-color: #E6E6E5;
    text-align: left;
    width: 400px;
    opacity: 0.7;
    margin: 0 auto;
    padding-top: 10px;
}
.consejo{

    margin-top: 50px;
}

.boton-consejos {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    color: white;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-right: 10px;

}




