table {
  border-collapse: collapse;
}

td, th {
    padding: 0.7rem;
    vertical-align: middle;
    text-align: center;
}

th{
	background-color: #DCDCDB;
}

td{
	background-color: #F0F0F0;
}

.table-check{
}

.second-td{
	background-color: #DCDCDB;
}

.white-table{
	background-color: white;

}

.icono-tabla{
	display: none;
	margin: 0 auto;
}

.title-table{
	text-align: left;
}
.border-table{

	width:100%;
	border:0;

}
.border-blue{

	border:2px solid #00A6A5;
	padding:0;

}