.cabecera-cursos{

    padding-top:50px;
    width: 68%;
    margin:0 auto;
}
.cabecera-alumnos{

    padding-top:60px;
    width: 50%;
    margin:0 auto;
}
.titulo-encabezado-1 {
   width: 68%;
   margin: 0 auto;
}
.titulo-encabezado{

    width: 100%;
}
.muneco-busqueda{

    background-image: url(../imagenes/muneco-busqueda.svg);
    background-repeat: no-repeat;
    background-size:100% auto;
    width: 133px;
    height: 162px;
    
   
}


.muneco-1{

    background-position:left bottom;
    margin-right:5px;
   

 }  

.muneco-2{

    background-position:right bottom;


}
.contenido-titulo{
    width:100%;
    

}
.contenido-titulo-2{
    width:78%;
    

}

