.cabecera-cursos{

    padding-top:50px;
    width: 86%;
    margin:0 auto;
}
.cabecera-alumnos{

    padding-top:50px;
    width: 50%;
    margin:0 auto;
}
.titulo-encabezado {
     background-image: url(../imagenes/muneco-busqueda.svg);
    background-repeat: no-repeat;
    background-size:contain;


 .muneco-1{

    background-position:left bottom;

 }  

.muneco-2{

    background-position:right bottom;

}
 
}
.contenido-titulo{
    padding: 10px 20px 20px 0px;
    margin:0 auto;
    width:78%;
    float:right;

     

}

