.titulo-encabezado {
    clear: both;
    width: 100%;
    padding-bottom: 10px;
}
.contenido-titulo{
    position: relative;
    float: left;
    width: 40%;
    padding-top: 80px;
    margin-left: 400px;
}

.muneco-busqueda {
    position: absolute;
    margin-left: -150px;
    top: 93px;

}
.muneco-busqueda-2 {
    position: absolute;
    left:-130px;
    top:93px;

}