

button {
    font-size: $fourthFontsize;
    font-weight: $thirdFontweight;
    border: $thirdBorder;
    margin: 0 auto;
    text-align: $secondaryTextalign;
    padding:$primaryPadding;
    border-radius: $primaryBorderR;
    display:inline-block;
}

button:hover {
    background-color:$primaryColor;
}


.publicaranuncios{
    background-color:$secondaryColor;
    color:$fourthColor;
    width: 240px;
    height: 70px;

}
.publicaranuncios2 {
    background-color: $fourthColor;
    color: $secondaryColor;
    border: 2px solid #f15c22;
}


.botonmail {
    background-color: $secondaryColor;
    border: $secondaryBorder;
    border-radius: $secondaryBorderR:;
    margin-top: 36px;
    position: absolute;
    width: 65%;
    height: 13%;
    left:0;
    margin:36px auto;
    right:0;

}
.botonmail:hover{

    background-color:$primaryColor;
}
.botonunete{

    background-color: $fourthColor;
    width: 83px;
    height: 20px;
    float: left;
    text-align: $secondaryTextalign;
    margin-left: 20px;
}


.botonunete:hover{
    background-color:$secondaryColor;

}







