Sintaxis

// Width Variables
$primaryWidth: 240px;
$secondaryWidth: 65%;
$thirdWidth: 83px;

// Height Variables
$primaryHeight: 70px;
$secondaryHeight: 13%;
$thirdHeight: 20px;

// Border-radius Variables
$primaryBorderR: 8px;
$secondaryBorderR: 15px;

// Border Variables
$primaryBorder: 2px solid #f15c22;
$secondaryBorder: 10px solid white;







