

button {
    font-size: $fourthFontsize;
    font-weight: $boldFontweight;
    border: $thirdBorder;
    margin: 0 auto;
    text-align: $centerTextalign;
    padding:$primaryPadding;
    border-radius: $primaryBorderR;
    display:inline-block;
}

button:hover {
    background-color:$greyColor;
}


.publicaranuncios{
    background-color:$orangeColor;
    color:$whiteColor;
    width: 240px;
    height: 70px;

}
.publicaranuncios2 {
    background-color: $whiteColor;
    color: $orangeColor;
    border: 2px solid #f15c22;
}


.botonmail {
    background-color: $orangeColor;
    border: $secondaryBorder;
    border-radius: $secondaryBorderR:;
    margin-top: 36px;
    position: absolute;
    width: 65%;
    height: 13%;
    left:0;
    margin:36px auto;
    right:0;

}
.botonmail:hover{

    background-color:$greyColor;
}
.botonunete{

    background-color: $whiteColor;
    width: 83px;
    height: 20px;
    float: left;
    text-align: $centerTextalign;
    margin-left: 20px;
}


.botonunete:hover{
    background-color: $orangeColor;

}







