*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
	 margin: 0;
	 font-family: 'Lato', sans-serif;
	 font-style: normal;
	 font-weight: 400;
	 color: #404041;
}

.background-4 {
    width: 100%;
    margin-top:20px;
    background-color: rgba(51, 51, 51, .15);
}

#container{
    max-width: 1024px;
    margin: 0 auto;
}

.left{
    float: left;
}
.right{

  float: right;
}
.margin-left{
  margin-left:10px;
}

.clear{
    clear: both;
}

.no-margin{
    margin: 0;
}

.padding-top {
  padding-top: 50px;
}
.margin-top{
    margin-top:10px;
}